/*  CSS for Tooltip Module
	Author: Andre Silva - andre1050@gmail.com
 	Last update: 13.01.2014
	*/

.nature-tooltip {
	background-color: #707070;
	border-radius: 10px;
	color: #FFF;
	display: inline-block;
	font-size: 12px;
	padding: 5px 10px;
	position: absolute;
	z-index: 1000;
}
